.mappingTemplate {
  background: #F5F7F9;
  border: 1px solid #F5F7F9;
  box-sizing: border-box;
  border-radius: 12px;

  padding: 32px 0 40px;

  width: calc(100% + 2 * 86px );
  max-width: calc(100vw - 2 * 16px);
  margin: 80px -86px;

  text-align: center;

  @media screen and (max-width: 479px) {
    margin: 64px 0;
    padding: 40px 32px;
    border-radius: 0;
    width: 100vw;
    max-width: 100vw;
  }

  &__header {
    margin: 0;

    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.827586px;

    color: #232C40;

    @media screen and (max-width: 479px) {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 16px;
    }
  }

  &__description {
    width: 430px;
    margin: 0 auto 24px;

    font-size: 20px;
    line-height: 32px;

    color: #54617B;

    @media screen and (max-width: 479px) {
      width: 100%;
      margin-bottom: 32px;

      font-size: 18px;
      line-height: 24px;
    }
  }

  &__button {
    height: 48px;
    font-size: 16px;
    line-height: 24px;
  }
}
