.button {
  font-family: Inter;

  display: inline-flex;
  align-items: center;
  background: #1656D9;
  border-radius: 4px;
  height: 40px;
  border: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: #FFFFFF;

  &:hover {
    background-color: #376edf;
    color: #FFFFFF;
  }

  &_big {
    padding: 0 36px;
  }

  &_huge {
    height: 48px;
    padding: 0 36px;

    @media screen and (max-width: 767px) {
      padding: 0 14px;
    }
  }

  &_small {
    padding: 0 20px;
  }
}
