.container {
  // background-color: red;
}


// blog roll
.blog-list-item.is-featured {

}

.blog-list-item header {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 48px;
}

.blog-list-item .featured-thumbnail {
  /* Elevation / ⚪️ 32px */

  filter: drop-shadow(0px 4px 40px rgba(10, 39, 99, 0.08)), drop-shadow(0px 16px 24px rgba(10, 39, 99, 0.02)), drop-shadow(0px 2px 8px rgba(10, 39, 99, 0.04)), drop-shadow(0px 0px 1px rgba(10, 39, 99, 0.04));
  border-radius: 6px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 32px 0;
}

 .blogpost {
   display: flex;
   flex-direction: column;
   padding: 0 16px;

   max-width: 682px;
   margin: 0 auto;

   @media screen and (max-width: 479px) {
     padding: 0 16px;
   }

   &__list {
     width: 100%;
   }

   &__item {
     margin-bottom: 80px;

     &:last-child {
       margin-bottom: 0;
     }
   }

   &__title {
     font-weight: bold;
     font-size: 42px;
     line-height: 48px;

     flex: none;
     order: 0;
     flex-grow: 0;
     margin: 32px 0 8px;

     @media screen and (max-width: 479px) {
       font-size: 18px;
       line-height: 24px;


       margin-top: 16px;
     }
   }

   &__description {
     font-size: 20px;
     line-height: 32px;

     color: #54617B;

     margin-bottom: 32px;

     @media screen and (max-width: 479px) {
       display: none;
     }
  }

   &__image {
     border: 1px solid #E5E9EF;
     box-sizing: border-box;
     border-radius: 6px;

     &_detail {
       width: calc(100% + 2 * 170px);
       max-width: calc(100vw - 2 * 16px);
       align-self: center;
     }
   }

   &__author {
     display: flex;
     align-items: center;
   }

   &__author-name {
     font-weight: 500;
     font-size: 14px;
     line-height: 18px;

     color: #232C40;
   }

   &__author-image {
     width: 48px;
     height: 48px;
     margin-right: 12px;
     border-radius: 50%;
   }

   &__date {
     font-size: 14px;
     line-height: 18px;

     color: #8690A5;
   }

   &__content > div {
     display: flex;
     flex-direction: column;
   }
 }

 .blog {
   display: flex;
   flex-direction: column;

   h1 {
     font-weight: bold;
     font-size: 42px!important;
     line-height: 48px!important;
     color: #292929;
   }
 }
