.subscribeForm {
  display: flex;
  flex-direction: row;
  align-content: start;
  justify-content: space-between;

  width: 100%;

  &_background {
    background: #F5F7F9;
    border-radius: 12px;
    padding: 32px 54px;

    width: 822px;
  }

  &_fullWidth {
    width: 100%;
    max-width: 1234px;
    margin: 0 auto;
  }

  &__hubspot {
    flex-shrink: 1;
    width: 324px;
    position: relative;

    .subscribeForm_background & {
      width: 426px;
    }

    .subscribeForm_fullWidth & {
      flex-grow: 1;
      margin-left: 72px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;

    .subscribeForm_fullWidth & {
      width: 280px;
    }
  }

  &__header,
  &__subheader {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  &__header {
    color: #1D293F;
  }

  &__subheader {
    color: #8690A5;
  }

  &__inputDescription {
    position: absolute;
    top: 44px;
    left: 20px;

    font-family: Inter;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #8690A5;
  }
}
